html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;

    display: flex;
    flex-flow: column;
}

h1,
h2,
h3,
h4 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    margin-top: .75em;
    margin-bottom: .25em;
    line-height: 1;
}

h1 {
    font-size: 4rem;

}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    margin: 1em 0;
}

a,
a:visited {
    color: var(--c1);
    transition: .3s;
}

a:hover {
    color: black;
}

svg {
    display: inline-block;
    height: auto;
    width: 100%;
}

svg path {
    transition: 0.3s;
}

::selection {
    color: var(--c4);
    background-color: var(--c1);
}

:root {
    --c1: #5D9733;
    --c2: #91BE58;
    --c3: #A5D596;
    --c4: #E3D1B3;
    --cont-width: 1024px;
    --cont-pad: max(2rem, calc(50% - calc(var(--cont-width) / 2)));
}

header {
    padding: 1rem 1rem 0;
    margin: 0;
    position: relative;
}

header h1 {
    margin: 0 auto;
    max-width: 1000px;
}

header h1 img {
    max-width: 320px;
    height: auto;
    display: block;
}

header::after {
    content: '';
    position: absolute;
    top: 30%; right: 0; bottom: 0; left: 0;
    background-color: var(--c4);
    z-index: -1;
    height: 60%;
}

main,
footer {
    max-width: var(--cont-width);
    margin: 2rem auto;
    padding: 2rem;
}

footer {
    display: flex;
    justify-content: center;
}

.cols {
    display: flex;
    gap: 1.75rem;
    flex-flow: wrap;
    margin: 0 auto 2rem;
}

main {
    display: flex;
    flex-flow: wrap;
    align-items: start;
    gap: 2rem;
}

article {
    flex: 1 600px;
}

aside {
    flex: 1 300px;
    padding: 1rem 2rem;
    background-color: var(--c4);
}

aside p {
    font-size: 1rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons a {
    height: 3rem;
    width: 3rem;
}

.icons a:hover path {
    fill: var(--c1);
}

iframe {
    width: 100%;
    display: block;
    max-width: 100%;
    height: min(580px, 56.5vw);
}
