--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Cafe">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="favicon.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Passion+One&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap">
	</head>
	<body>
		<header>
			<h1><img src="livefast-logo.png" width="520" height="245" alt="Livefast cafe logo" /></h1>
		</header>

		<main>
			<slot />
		</main>

		<footer>
			<p>© 2025 <a href="https://www.livefast.com.au">Livefast Cafe</a> | website by <a
                href="http://www.greengraphics.com.au">gg</a></p>
		</footer>
	</body>
</html>
